body {
    text-align: center;
}

header {
    background-color: #FF69B4;
    color: #FFFFFF;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: #FFFFFF;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

article {
    display: flex;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}
